body {
  background-color: #efefef;
}

#chart, #details, #list {
  background-color: #efefef;
  border: 1px solid #333333;
}

#list {
  font-size: 9px;

}

.list-element:hover, .list-element.highlighted{
  background-color: crimson;
}

.dot.highlighted {
  width: 64px;
  height: auto;
  border: 2px solid crimson;
}