@import "~nouislider/distribute/nouislider.css";

body {
  background-color: #c0b7b7;
}

.card {
  margin-top:10px;
  background-color: #dfdede;
  border: 0 !important;

  img {
    max-width:100%;
  }

}

#epoche-buttons {
  text-align: center;
  a {
     margin: 5px;
     padding: 5px;
    border-radius: 3px;
  }
  a:hover, a.highlight {
    background-color: #c0b7b7;
  }
}


#time-filter {
  margin: 20px;
  margin-top: 60px;

  .noUi-connect {
    background-color: #c0b7b7;
  }
}

.coin-box {
  fill: #efefef;
  stroke: #c0b7b7;
  stroke-width: 2px;
  opacity: 0.8;
}

.circle {
  fill: #efefef;
  stroke: #c0b7b7;
  stroke-width: 2px;
}

.graph {
  fill: none;
  stroke: #c0b7b7;
  stroke-width: 2px;
}

.ref-line {
  stroke: #900;
  stroke-width: 2px;
}

.ref-line-label {
  fill: #900;
}

.axis-label {
  fill: #777;
}

.x-axis, .y-axis {

  line,path {
    stroke: #c0b7b7;
    stroke-width: 2px;
  }

  text {
    fill: #777;
  }

}

.hiding-box {
  fill: #dfdede;
}

.circle-label {
  fill: #777;
}